@model BEPZA_MEDICAL.Web.Areas.CPF.Models.GratuityInterestRate.GratuityInterestRateModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/CPF/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "GratuityInterestRate", FormMethod.Post, new { id = "frm" }))
{
    <fieldset>
        @Html.Partial("_CreateOrEdit", Model)
        <div class="button-crude">
            @if ((new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsAddAssigned)
            {
                <input type="submit" value="Save" id="btnSave" name="btnSubmit" style="margin-right: 8px;" />
            }
        </div>
    </fieldset>
}

<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>