<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
   
    <add name="ERP_BEPZAPGMEntities" connectionString="metadata=res://*/ERP_BEPZA.PGM.csdl|res://*/ERP_BEPZA.PGM.ssdl|res://*/ERP_BEPZA.PGM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MGDEVLAP02\SQL2012;Initial Catalog=ERP_BEPZA_24;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
