@model List<BEPZA_MEDICAL.Web.Areas.PMI.ViewModel.Budget.BudgetDetailYearlyBilledViewModel>
@using BEPZA_MEDICAL.Web.Helpers

@foreach (var item in Model.AsEnumerable())
{
    @Html.Raw("<td class='yearly-billed'>")
    @Html.Partial("_BudgetDetailYearlyBilledItem", @item)
    @Html.Raw("</td>")
}
