@model BEPZA_MEDICAL.Web.Areas.PRM.ViewModel.HumanResourceRate.HumanResourceRateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PRM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(Model.ActionType, "HumanResourceRate", FormMethod.Post, new { id = "frm" }))
{    
    <fieldset>
        <div class="GroupBox" style="min-height: 15px" id="message">
            @Html.ValidationSummary(false, BEPZA_MEDICAL.Web.Utility.Common.ValidationSummaryHead)
        </div>
        @Html.Partial("_CreateOrEdit", Model)
        <br />
        <div class="button-center buttonSubmit">
            @if ((new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsAddAssigned)
            {
                <input id="btnSave" type="submit" value="Save" style="width: auto; overflow: visible;
                    padding-left: .25em; padding-right: .25em;" />
            
            }
        </div>
    </fieldset>
}
<div class="button-crude button-left" style="padding-left: 5px;">
    
    @Html.ActionLink("Back to List", "Index")
</div>
