@model BEPZA_MEDICAL.Web.Areas.PRM.ViewModel.PersonalInfo.VisaInfoViewModel
           
<script type="text/javascript">
    $(function () {
        $("a.deleteItem").live("click", function () {
            deleteLinkObj = $(this);  //for future use
            $('#delete-dialog').dialog('open');
            return false; // prevents the default behaviour
        });
        $('#delete-dialog').dialog({
            autoOpen: false, width: 320, resizable: false, modal: true, //Dialog options
            overlay: {
                backgroundColor: '#000',
                opacity: 0.5
            },
            buttons: {
                "Yes": function () {

                    $.post(deleteLinkObj[0].href, function (obj) {  //Post to action

                        if (obj.Success) {
                            $("#message").html("<b>" + obj.Message + "</b>").css("color", "Green");
                            $('#sButton').trigger('click');
                        }
                        else {
                            $("#message").html("<b>" + obj.Message + "</b>").css("color", "red");
                        }
                    });
                    $(this).dialog("close");
                },
                "No": function () {
                    $(this).dialog("close");
                }
            }
        });
    });

</script>
<script type="text/javascript">

    function handleDeleteSuccess() {
    }
    function handleDeleteFailure() {
        $("#message").html('There is an Ajax call back error!');
    }
    function JsonDelete_OnComplete(context) {
        var obj = eval("(" + context.responseText + ")");
        if (obj.Success) {
            $("#message").html("<b>" + obj.Message + "</b>").css("color", "Green");
            $('#sButton').trigger('click');
        }
        else {
            $("#message").html("<b>" + obj.Message + "</b>").css("color", "red");
        }
    }
     
</script>
<span class="url" style="display:none;">@Url.Action("GetVisaList", "PersonalInfo", new { empId = Model.EmployeeId, controlType = Model.Type })</span>
<script type="text/javascript">

    $(document).ready(function () {
        var url = $('.url').text();

        if ('@Model.Type' == "Visa")
            colHeader = ['Id', 'Visa For', 'Owner', 'Visa No', 'Issue Place', 'Country', 'Issue Date', 'Expire Date'];
        else
            colHeader = ['Id', 'Passport For', 'Owner', 'Passport No', 'Issue Place', 'Country', 'Issue Date', 'Expire Date'];

//        console.log(url);

        $('#jqGrid').jqGrid({
            url: url,
            datatype: 'json',
            mtype: 'POST',
            colNames: colHeader,
            colModel: [
                        { name: 'Id', index: 'ID', align: 'left', search: false, edittype: 'text', hidden: true },
                        { name: 'VisaPassportFor', index: 'VisaPassportFor', align: 'left', width: '170px', edittype: 'text' },
                        { name: 'VisaOwner', index: 'VisaOwner', align: 'left', edittype: 'text', formatter: viewformatEdiorLink },
                        { name: 'VisaPassportNo', index: 'VisaPassportNo', index: 'Country', align: 'left' },
                        { name: 'IssuePlace', index: 'IssuePlace', align: 'left' },
                        { name: 'Name', index: 'Name', align: 'left' },
                        { name: 'IssueDate', index: 'IssueDate', align: 'center', width: '100px' },
                        { name: 'ExpireDate', index: 'ExpireDate', align: 'center', width: '100px' }
                      ],
            autowidth: true,
            caption: "",
            rowList: [10, 20, 30, 40, 50, 100],
            pager: $('#jqGridPager'),
            rowNum: 10,
            sortname: 'ID',
            sortorder: 'asc',
            viewrecords: true,
            height: '100%',
            width: '50%'
        });
        // Pager Function
        $("#jqSearch").jqGrid('filterGrid', '#jqGrid', { gridModel: true, gridNames: true, formtype: 'horizontal', autosearch: false, enableSearch: true, enableClear: true });

    });
    function deleteformateadorLink(cellvalue, options, rowObject) {
        var url = '@Html.ActionLink(" ", "Delete", new { id = "_id_" }, new { @class = "deleteItem" })';
        url = url.replace(/_id_/, rowObject[0]);
        return url;
    }
    function viewformatEdiorLink(cellvalue, options, rowObject) {

        var url = '@Html.ActionLink("_name_", "EditVisaInfo", new { id = "_id_" })';
        url = url.replace(/_name_/, cellvalue);
        url = url.replace(/_id_/, rowObject[0]);
        return url;
    }
</script>
