@using BEPZA_MEDICAL.Web.Areas.FAM.Models.DivisionUnitBudgetRevision
@model DivisionUnitBudgetRevisionModel

<table cellspacing='0' cellpadding='0' style=" margin-left:50px;">
            <thead >
                <tr>
                   
                    <th style="border:1px solid #CCCCCC; width:320px;">
                        Account Head
                    </th>
                    <th style="border:1px solid #CCCCCC; width:100px;">
                        Previous Budget
                    </th>
                    <th style="border:1px solid #CCCCCC; width:100px;">
                        Revised Budget
                    </th>
                    <th style="border:1px solid #CCCCCC; width:100px;">
                        Account Type
                    </th>
                    <th style="border:1px solid #CCCCCC; width:100px;">
                        Remarks
                    </th>


                </tr>
            </thead>

            @if (Model != null && Model.DivisionUnitBudgetRevisionList != null)
            {

                foreach (var x in Model.DivisionUnitBudgetRevisionList)
                {
                        @Html.Partial("BudgetAllocationList", x);
                }
            }

        </table>