@model BEPZA_MEDICAL.Web.Areas.WFM.ViewModel.WelfareFundCategoryViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/WFM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "WelfareFundCategory", FormMethod.Post, new { id = "frm" }))
{

    @Html.Partial("_CreateOrEdit", Model)
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2 text-right">
                @if ((new BEPZA_MEDICAL.Web.Utility.AppConstant()).IsAddAssigned)
                {
                    <button class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> Save</button>
                }
                @*<button class="btn btn-success" id="btnClear"><i class="fa fa-backward"></i> Clear</button>*@
                <a href="@Url.Action("Index")" class="btn btn-warning"> <i class="fa fa-backward"></i> Back</a>
            </div>
        </div>
    </div>

}



