@using BEPZA_MEDICAL.Web.Areas.FAM.Models.VendorInfo

@model VendorInformationModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FAM/Views/Shared/_Layout.cshtml";
}

<div class="GroupBox">
  
    @Html.Partial("_Index",Model)    
</div>

