<table id="previousComplaintRecord" class="contenttable fixedcontenttable custom-grid">
    <thead>
        <tr>
            <th>SL</th>    
            @*<th>Id</th>*@
            <th>Dept. Proceedings No.</th>
            <th>Complaint Date</th>
            <th>Complainant Name</th>
            <th>Designation</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>  