@model IList<SelectListItem>
<select id="ReportId" name="ReportId">
    <option selected="selected" value=''>All</option>
    @foreach (var value in Model)
    {
        <option value='@value.Value'>@value.Text</option>
    }
</select>