@model BEPZA_MEDICAL.Web.Areas.PRM.ViewModel.SelectedApplicantInfoViewModel

<div class="row">
    <table id="grid" class="contenttable">
        <thead>
            <tr>
                <th>
                    Test Name
                </th>
                <th>
                   Full Mark
                </th>
                <th>
                    Pass Mark
                </th>
                <th>
                   Obtain Mark
                </th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.TestResultList.Count; i++)
            {
                var item = Model.TestResultList.ToList()[i];
                <tr>
                    <td>
                        <label> @item.TestName</label>
                    </td>
                    <td>
                        <label> @item.FullMark</label>
                    </td>
                    <td>
                        <label> @item.PassMark</label>
                    </td>
                    <td>
                        <label> @item.ObtainedMarks</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
