@using BEPZA_MEDICAL.Web.Areas.FAM.Models.DivisionUnitBudgetAllocation
@model DivisionUnitBudgetAllocationModel

<table cellspacing='0' cellpadding='0' style=" margin-left:50px;">
            <thead >
                <tr>
                    
                    <th style="border:1px solid #CCCCCC; width:320px;">
                        Account Head
                    </th>
                    <th style="border:1px solid #CCCCCC; width:120px;">
                        Amount
                    </th>
                    <th style="border:1px solid #CCCCCC; width:100px;">
                        Account Type
                    </th>
                </tr>
            </thead>

            @if (Model != null && Model.BudgetAllocationList != null)
            {

                foreach (var x in Model.BudgetAllocationList)
                {
                        @Html.Partial("BudgetAllocationList", x);
                }
            }

        </table>