<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ERP_BEPZAFAMEntities" connectionString="metadata=res://*/ERP_BEPZA.FAM.csdl|res://*/ERP_BEPZA.FAM.ssdl|res://*/ERP_BEPZA.FAM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PC88\SQL2012;Initial Catalog=ERP_BEPZA;Persist Security Info=True;User ID=sa;Password=sa1234;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
