@model BEPZA_MEDICAL.Web.Areas.PMI.ViewModel.AnnualProcurementPlan.BudgetDetailsHeadViewModel
@using BEPZA_MEDICAL.Web.Helpers

    <tr>
        <td class="app-head" colspan="4">
            <div class="col-sm-3" style="padding:0;">@Html.Label("APP Head", new { @class = @"control-label" })</div>
            <div class="col-sm-8">@Html.DropDownListFor(m => m.APPHeadId, Model.BudgetHeadList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "form-control", @disabled = "disabled", @onchange = "LoadAppHeadId(this)" })</div>
            <button type="button" class="btn btn-sm btn-primary btnDeleteHead" id="btnDeleteHead" style="padding:3px;">
                <i class="fa fa-trash fa-lg"></i>
            </button>
        </td>
    </tr>


    <script type="text/javascript">
        $('.btnDeleteHead').click(function () {
            $(this).closest('table').remove();
            return false;
        });
    </script>